/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/12/06, 17:32:03
    Author     : johgus
*/
table{
	border-spacing:0px;
}

.cell{
	width:20px;
	height:20px;
	padding: 0px;
}
.lined.cell{
	background-color: black;
}

